version: '3.1'

services:
  mariadb:
    image: mysql
    container_name: mysql-app-popit-api
    environment:
    - MYSQL_ROOT_PASSWORD=password
    - MYSQL_DATABASE=app_popit_api
    - MYSQL_USER=app
    - MYSQL_PASSWORD=password
    - TZ=Asia/Seoul
    volumes:
    - ${HOME}/data/docker/app_popit_api:/var/lib/mysql
    command:
    - "mysqld"
    - "--character-set-server=utf8mb4"
    - "--collation-server=utf8mb4_unicode_ci"
    ports:
    - 3306:3306